
<footer class="bg-light">
  <div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">

          <li class="list-inline-item">
            <a href="https://36kr.com/user/1737038515">
              <span class="fa-stack fa-sm">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-blog fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://github.com/dizzySummer">
              <span class="fa-stack fa-sm">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://devpost.com/yiyuan">
              <span class="fa-stack fa-sm">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-code fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>


        </ul>
        <p class="copyright text-muted">Yi Yuan &copy;  2019</p>
      </div>
    </div>
  </div>
</footer>
